.jumbo.hidden-phone.hidden-tablet
  .container
    .slogan
      %h1= "Betacube"
      %h3= "Community for Designers, Developers, Startups & more in the Luxembourgish area."
    .logo
      = image_tag "Logo.png"
= render "shared/social_bar"