.jumbo.hidden-phone.hidden-tablet
  .container
    .slogan
      %h1= "Betacube"
      %h3= "Supporting the local community of web professionals in Luxembourg and the Greater Region."
    .logo
      = image_tag "Logo.png"
= render "shared/social_bar"
